.pg-section1{
margin:20px 0;
}

.pg-header1{
display:flex;
justify-content:space-between;
align-items:center;
padding:0 20px;
}

.view-all1{
font-size:14px;
color:var(--primary-green);
font-weight:600;
cursor:pointer;
}

.view-all1:hover{
color:var(--action-orange);
}

.pg-container1{
display:flex;
gap:16px;
padding:16px;
overflow-x:auto;
scroll-snap-type:x mandatory;
}

.pg-container1::-webkit-scrollbar{
display:none;
}

.pg-container1.grid-view1{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:16px;
overflow:hidden;
}

.pg-card1{
min-width:240px;
width:260px;
flex-shrink:0;
padding:10px;
background:#fff;
border-radius:14px;
box-shadow:0 1px 4px rgba(0,0,0,0.1);
cursor:pointer;
transition:0.3s;
scroll-snap-align:center;
}

.pg-card1:hover{
transform:translateY(-8px);
box-shadow:0 18px 30px rgba(0,0,0,0.15);
}

.pg-img-wrapper{
overflow:hidden;
border-radius:12px;
}

.pg-img1{
width:100%;
height:150px;
object-fit:cover;
transition:transform 0.4s;
}

.pg-card1:hover .pg-img1{
transform:scale(1.1);
}

.pg-card1 h4{
font-size:14px;
margin:6px 0;
}

.loc1{
display:flex;
align-items:center;
gap:6px;
font-size:12px;
color:gray;
}

.icons1{
margin-top:6px;
font-size:18px;
}

/* responsive */

@media(max-width:900px){

.pg-container1.grid-view1{
grid-template-columns:repeat(3,1fr);
}

.pg-card1{
width:220px;
min-width:220px;
}

}

@media(max-width:650px){

.pg-container1.grid-view1{
grid-template-columns:repeat(2,1fr);
}

.pg-card1{
width:200px;
min-width:200px;
}

.pg-img1{
height:130px;
}

}

@media(max-width:480px){

.pg-container1{
gap:14px;
}

.pg-container1.grid-view1{
grid-template-columns:repeat(2,1fr);
}

.pg-card1{
min-width:220px;
width:220px;
}

.pg-img1{
height:120px;
}

}