.page {
  padding: 20px;
}

.turf-table {
  width: 100%;
  border-collapse: collapse;
}

.turf-table th,
.turf-table td {
  border: 1px solid #ddd;
  padding: 10px;
  vertical-align: top;
}

.turf-table th {
  background: #16a34a;;
  color: white;
}

.game-badge {
  display: inline-block;
  background: #eef6ff;
  border: 1px solid #c7defc;
  padding: 4px 8px;
  margin: 2px;
  border-radius: 8px;
  font-size: 13px;
}

/* Gallery */
.gallery-row {
  display: flex;
  gap: 6px;
}



/* Price */
.price {
  font-weight: bold;
  color: #16a34a;
}

/* Slots */
.slots-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.slot-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f1f5f9;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 13px;
}

.slot-price {
  color: #dc2626;
  font-weight: bold;
}

.arrow {
  margin: 0 6px;
}

.no-slot {
  color: gray;
  font-size: 13px;
}

.img-row {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.banner-thumb,
.gallery-thumb {
  width: 70px;
  height: 45px;
  object-fit: cover;
  border-radius: 6px;
}

/* Toggle Switch Styles */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .toggle-slider {
  background-color: #16a34a;
}

input:checked + .toggle-slider:before {
  transform: translateX(26px);
}
